* {
    box-sizing: border-box;
}
#container {
    width: 90%;
    margin: auto;
    background-color: aqua;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    width: 30%;
    background-color: grey;
    float: left;
    padding: 20px;
}

article {
    width: 70%;
    background-color: white;
    float: left;
    padding: 20px;
    border: 1px black solid;
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    clear: both;

}